<section>
  <div class="subscribe">
    <div class="container">

    </div>
  </div>
</section>
<section>
  <div class="footer">
    <div class="container">
      <div class="row">
        <div class="col-md-5">
          <img src="/assets/logo_white.png" alt="" class="img-fluid mb-3">
          <div class="row mx-0">
            <div class="h6 font-weight-normal">
              <b>PT Celhum Global Sarana</b>
              <br>Jl. MH. Thamrin No. 88c Tangerang 15143
            </div>
            <div class="small">
              © 2017 Celhum Travel. All Rights Reserved.
              <br> Powered by PT. Inovasi Cybertrend International
            </div>
          </div>
        </div>
        <div class="col-md-7">
          <div class="row">
            <div class="col-md-4">
              <ul>
                <li>
                  <a href="">Test</a>
                </li>
                <li>
                  <a href="">Test</a>
                </li>
                <li>
                  <a href="">Test</a>
                </li>
                <li>
                  <a href="">Test</a>
                </li>
                <li>
                  <a href="">Test</a>
                </li>
                <li>
                  <a href="">Test</a>
                </li>
              </ul>
            </div>
            <div class="col-md-4">
              <ul>
                <li>
                  <a href="">Test</a>
                </li>
                <li>
                  <a href="">Test</a>
                </li>
                <li>
                  <a href="">Test</a>
                </li>
                <li>
                  <a href="">Test</a>
                </li>
                <li>
                  <a href="">Test</a>
                </li>
                <li>
                  <a href="">Test</a>
                </li>
              </ul>
            </div>
            <div class="col-md-4">
              <ul>
                <li>
                  <a href="">Test</a>
                </li>
                <li>
                  <a href="">Test</a>
                </li>
                <li>
                  <a href="">Test</a>
                </li>
                <li>
                  <a href="">Test</a>
                </li>
                <li>
                  <a href="">Test</a>
                </li>
                <li>
                  <a href="">Test</a>
                </li>
              </ul>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
